#### Setup

Start by running the cell below to import `pandas`, `numpy`, and the `results.csv` dataset.

In [1]:
import pandas as pd
import numpy as np

results = pd.read_csv('results.csv')
results.head()

,date,year,home_team,away_team,home_score,away_score,total_goals,win_margin,tournament,city,country,neutral
0,2000-01-04,2000,Egypt,Togo,2,1,3,1,Friendly,Aswan,Egypt,False
1,2000-01-07,2000,Tunisia,Togo,7,0,7,7,Friendly,Tunis,Tunisia,False
2,2000-01-08,2000,Trinidad and Tobago,Canada,0,0,0,0,Friendly,Port of Spain,Trinidad and Tobago,False
3,2000-01-09,2000,Burkina Faso,Gabon,1,1,2,0,Friendly,Ouagadougou,Burkina Faso,False
4,2000-01-09,2000,Guatemala,Armenia,1,1,2,0,Friendly,Los Angeles,United States,True

#### Narrative Example

The cell below generates the example from the exercise narrative.

In [2]:
# using pandas
pandas_mean = results['home_score'].mean()

# using numpy
numpy_mean = np.mean(results['home_score'])

print(pandas_mean)
print(numpy_mean)

1.5965486984498392
1.5965486984498392

#### 1. Mean `total_goals`

 Use NumPy to calculate the mean `total_goals` across all matches.
 
 Save the mean value to a variable named `mean_total_goals`.

In [3]:
## YOUR SOLUTION HERE ##
mean_total_goals = np.mean(results['total_goals']) 

# show output
mean_total_goals

2.642819537876572

#### 2. Largest win margin by the home team

Use NumPy to calculate the largest home `win_margin`. Assign the result to `largest_win_home`.

In [4]:
## YOUR SOLUTION HERE ##
largest_win_home = np.max(results['win_margin']) 
# show output
largest_win_home

31