In [1]:
import pandas as pd
repair = pd.read_csv('repair.csv')
repair.head()

,country,product_category,brand,year_of_manufacture,product_age,repair_status,year_repaired
0,gbr,aircon/dehumidifier,delonghi,2013.0,6.0,end of life,2019
1,nld,kettle,royal swiss,2019.0,0.0,fixed,2019
2,swe,mobile,apple,2015.0,3.0,repairable,2018
3,ita,desktop computer,dell,2011.0,10.0,fixed,2021
4,bel,power tool,makita,2015.0,4.0,end of life,2019

1. Import `pandas` using the alias `pd`

In [1]:
## YOUR SOLUTION HERE ##
import pandas as pd

2. Import the dataset in `laptops.csv`

In [2]:
## YOUR SOLUTION HERE ##
laptops = pd.read_csv('laptops.csv')

3. Preview the first few lines of the `laptops` dataset

In [3]:
## YOUR SOLUTION HERE ##
laptops.head()

,problem,brand,repair_status,event_year,age,percent_problem_fixed
0,power/battery,dell,repairable,2019,7,29.47
1,unknown,medion,end of life,2019,9,48.08
2,multiple,hp,end of life,2019,6,60.00
3,configuration,hp,repairable,2018,3,67.74
4,operating system,samsung,fixed,2019,9,59.72