Setup

In [1]:
import pandas as pd
vehicles = pd.read_csv('vehicles.csv')
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0

1. Use Python to confirm that `28` is less than or equal to `40`.

In [2]:
## YOUR SOLUTION HERE ##
28 <= 40

True

2. Create a Boolean mask that is `True` whenever `best_mpge` is greater than or equal to `25`. Assign the Boolean mask to `gt25`.

In [3]:
## YOUR SOLUTION HERE ##
gt25 = vehicles['best_mpge'] >= 25

# show output
gt25.head()

0     True
1    False
2     True
3    False
4    False
Name: best_mpge, dtype: bool

3. Create a Boolean mask that is `True` whenever `vehicle_type` is `sedan/wagon`. Assign the Boolean mask to `is_sedanwagon`.

In [4]:
## YOUR SOLUTION HERE ##
is_sedanwagon = vehicles['vehicle_type'] == 'sedan/wagon'

# show output
is_sedanwagon.head()

0     True
1    False
2     True
3    False
4     True
Name: vehicle_type, dtype: bool