<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup

In [1]:
import pandas as pd
vehicles = pd.read_csv('vehicles.csv')
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0

1. Display the index of the `vehicles` DataFrame.

In [3]:
vehicles.index

RangeIndex(start=0, stop=2520, step=1)

2. We have already defined a `transmission_counts` series. Display the index of that series.

In [4]:
transmission_counts = vehicles['transmission'].value_counts()
## YOUR SOLUTION HERE ##
transmission_counts.index

Index(['auto', 'continuously variable', 'unknown', 'single', 'manual',
       'transaxle', 'direct drive'],
      dtype='object')

3. Reset the index of `transmission_counts` to a RangeIndex, and assign the result to `transmissions_counts_reset`.

In [5]:
transmission_counts = vehicles['transmission'].value_counts()
## YOUR SOLUTION HERE ##
transmission_counts_reset = transmission_counts.reset_index()

# show output
transmission_counts_reset

                   index  transmission
0                   auto          2297
1  continuously variable           107
2                unknown            48
3                 single            35
4                 manual            27
5              transaxle             3
6           direct drive             3