**Setup**

Start by running the cell below to import `pandas` and the `results.csv` dataset.

In [1]:
import pandas as pd

results = pd.read_csv('results.csv')
results.head()

,date,year,home_team,away_team,home_score,away_score,total_goals,win_margin,tournament,city,country,neutral
0,2000-01-04,2000,Egypt,Togo,2,1,3,1,Friendly,Aswan,Egypt,False
1,2000-01-07,2000,Tunisia,Togo,7,0,7,7,Friendly,Tunis,Tunisia,False
2,2000-01-08,2000,Trinidad and Tobago,Canada,0,0,0,0,Friendly,Port of Spain,Trinidad and Tobago,False
3,2000-01-09,2000,Burkina Faso,Gabon,1,1,2,0,Friendly,Ouagadougou,Burkina Faso,False
4,2000-01-09,2000,Guatemala,Armenia,1,1,2,0,Friendly,Los Angeles,United States,True

**1. Number of Home Wins**

We've added a `home_wins` column that is `True` whenever the home team won. Use Boolean aggregation to count the number of home wins. Assign the result to `num_home_wins`.

In [3]:
# home wins occur whenever the win margin is positive
results['home_wins'] = results['win_margin'] > 0

## YOUR SOLUTION HERE
num_home_wins = results['home_wins'].sum()

# show output
num_home_wins

8297

**2. Percent of Home Wins**

We've added a `home_wins` column that is `True` whenever the home team won. Use Boolean aggregation to count the percent of home wins. Assign the result to `per_home_wins`.

In [4]:
# home wins occur whenever the win margin is positive
results['home_wins'] = results['win_margin'] > 0

## YOUR SOLUTION HERE
per_home_wins = results['home_wins'].mean()

# show output
per_home_wins

0.48534659257092716