Setup

In [1]:
import pandas as pd
parks = pd.read_csv('nationalpark_visitors.csv')
parks.head()

,index,Park,Location,AnnualPassPrice,Area,ParkType,Year2021,Year2020,Year2019
0,1,Great Smoky Mountains,"Gatlinburg, TN",40,816.3 sqmi,National park,14161548,12095720,12547743.0
1,2,Zion,"Springdale, UT",70,229.1 sqmi,National park,5039835,3591254,4488268.0
2,3,Yellowstone,"Jackson, WY",70,3468.4 sqmi,National park,4860242,3806306,4020288.0
3,4,Grand Canyon,"Grand Canyon Village, AZ",80,1902.0 sqmi,National park,4532677,2897098,5974411.0
4,5,Rocky Mountain,"Estes Park, CO",70,414.8 sqmi,National park,4434848,3305199,4670053.0

1. Display full column information for `parks`, and identify the one column that has a missing value.

In [2]:
## YOUR SOLUTION HERE ##
parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            72 non-null     int64
 1   Park             72 non-null     object
 2   Location         72 non-null     object
 3   AnnualPassPrice  72 non-null     int64
 4   Area             72 non-null     object
 5   ParkType         72 non-null     object
 6   Year2021         72 non-null     int64
 7   Year2020         72 non-null     int64
 8   Year2019         71 non-null     float64
dtypes: float64(1), int64(4), object(4)
memory usage: 5.2+ KB